*{
    margin:0;
    padding:0;
    outline:0;
    border:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    min-width:100%;
    background-color:#f0f0f0;
}

div{
    width:100%;
    height:100%;
    padding:15px;
    display:flex;
    flex-direction:row;
}

button{
    width:40%;
}
button:active{
    background-color:black;
}

.mira{
    color:#f0f0f0;
    width: 60%;
}

.shoot1{
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    background-color:#272727;
}
.shoot2{
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    background-color:#272727;
}

.iconDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.iconIf {
    width: 40%;
}

.iconFab {
    width: 26%;
}