* {
  padding: 0px;
  margin: 0px;
  font-family: "Press Start 2P";
  color: white;
  box-sizing: border-box;
}

.logo {
  width: 5rem;
  height: 4rem;
  margin-top: 1em;
}

h1 {
  font-size: 1.5rem;
  justify-self: center;
}

h2 {
  font-size: 1rem;
}

body {
  display: flex;
  justify-content: center;
  background: url('./images/space.png');
  background-repeat: repeat-y;
  background-size: cover;
}

.paginaInicial {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  gap: 4rem;
}

.container {
  min-width: 80vw;
  display: flex;
  border-radius: 20px;
  padding: 2rem 0;
  gap: 2rem;
  align-items: center;
  flex-direction: column;

  background-color: rgba(51, 50, 50, 0.6);
  color: white;
  font-size: 1rem;
  text-align: center;
}

input {
  background-color: rgb(52, 52, 52);
  padding: 0.5rem;
  border: 2px solid white;
  border-radius: 10px;
}

li {
  list-style: none;
}

.player-score {
  color: rgb(253, 126, 41);
}

button {
  width: auto;
  background-color: rgb(52, 52, 52);;
  padding: 7px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#option1 {
  background-color: green;
}

#option2 {
  background-color: green;
}

.hidden {
  display: none;
}

.gameOverButtons {
  display: flex;
  justify-content: space-between;
  width: 60%;
  position: absolute;
  top: 55%;
}

#playAgainButton {
  width: 255px;
  height: 50px;
  border-radius: 0px;
  font-size: 16px;
  color: black;
  background-color: white;
}

#rankingButton {
  width: 255px;
  height: 50px;
  border-radius: 0px;
  font-size: 16px;
  color: black;
  background-color: white;
}

#textGameOver {
  position: absolute;
  top: 48%;
  width: 60%;
  font-size: 48px;
  text-align: left;
}

#error-msg {
  font-size: 0.8rem;
  color: rgb(255, 60, 0);
  display: none;
}

@media (max-width: 767px) {
  #playAgainButton {
    width: 170px;
    height: 50px;
  }
  
  #rankingButton {
    width: 170px;
    height: 50px;
  }

  #textGameOver {
    font-size: 32px;
    top: 45%;
  }

  .gameOverButtons {
    width: 100%;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.rodape1 {
  font-size: 1.05em;
  font-weight: normal;
  color: orangered;
}

.rodape2 {
  font-size: 1.2em;
  margin: 1.5% 0% 1.5% 0%;
}

.rodape3 {
  width: 50px;
}

@media (max-width: 768px) {
  .rodape1 {
    font-size: 0.8em;
  }

  .rodape2 {
    font-size: 0.9em;
    margin: 3% 0% 3% 0%;
  }
}