* {
  padding: 0px;
  margin: 0px;
  font-family: "Press Start 2P";
  color: white;
  box-sizing: border-box;
}

.logo {
  width: 4rem;
  height: 4rem;
}

h1 {
  font-size: 1.5rem;
  justify-self: center;
}

h2 {
  font-size: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  height: 100vh;
  width: 100vw;
  background: url('./images/space.png');
  background-repeat: repeat-y;
  background-size: 100%;
}

.container {
  min-width: 80vw;
  display: flex;
  border-radius: 20px;
  padding: 2rem 0;
  gap: 2rem;
  align-items: center;
  flex-direction: column;

  background-color: rgba(51, 50, 50, 0.6);
  color: white;
  font-size: 1rem;
  text-align: center;
}

input {
  background-color: rgb(52, 52, 52);
  padding: 0.5rem;
  border: 2px solid white;
  border-radius: 10px;
}

canvas {
  display: block;
  width: 100vw;
  height: 90vh;
}

li {
  list-style: none;
}

.player-score {
  color: rgb(253, 126, 41);
}

button {
  width: auto;
  background-color: rgb(52, 52, 52);;
  padding: 7px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#option1 {
  background-color: green;
}

#option2 {
  background-color: green;
}

.hidden {
  display: none;
}

.GameOverButtons {
  display: flex;
  justify-content: space-between;
}

#PlayAgainButton {
  width: 255px;
  height: 50px;
  border-radius: 0px;
  font-size: 16px;
  color: black;
  background-color: white;
}

#RankingButton {
  width: 250px;
  height: 50px;
  border-radius: 0px;
  font-size: 16px;
  color: black;
  background-color: white;
}